.tab {
  overflow: hidden;
  border: 1px solid rgb(170, 238, 130);
  background-color: #67c974;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: rgb(238, 138, 138);
}

.tab button.active {
  background-color: rgb(100, 128, 180);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*Below is notification slider
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: red;
}

.header {
  text-align: center;
  padding: 32px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
  border: 5px;
  background-color: antiquewhite;
}

.row {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
  border: 5px;
  background-color: forestgreen;
}


